.git
.gitignore
.venv
.vscode
.idea
*.swp
*.pyc
__pycache__

data/raw
data/parquet
data/minio
data/checkpoint
data/trino
data/jars

logs
tests
notebooks

docker
docker-compose.yml

conf/grafana

*.md
LICENSE
