certifi==2026.6.17
charset-normalizer==3.4.7
colorama==0.4.6
idna==3.18
loguru==0.7.3
numpy==2.4.6
pandas==3.0.3
pyarrow==24.0.0
pyspark==4.0.1
pyspark-client==4.0.1
pyspark-connect==4.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.34.2
six==1.17.0
tqdm==4.68.3
tzdata==2026.2
urllib3==2.7.0
websockets==15.0.1
win32_setctime==1.2.0
